@model Hiba.Models.News
@using static Hiba.Common.Enums
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
</head>
<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="text" class="control-label"></label>
                <textarea name="text" id="text" rows="10" cols="80">
                @Html.Raw(@Model.Text)
            </textarea>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Image" />
                <img style="width:300px;height:300px" src="@Model.Image" />
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" name="img" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <select asp-for="Lang" class="form-select" aria-label="Default select example">
                <option selected>Select Language</option>
                <option value="en-US">Englih</option>
                <option value="ar">Arabic</option>
            </select>
            <div class="form-group col-md-6">
                <select asp-for="Sequence" asp-items="@Html.GetEnumSelectList<Sequence>()" class="form-control" required="required">
                    <option value="null">Select Message Type</option>
                </select>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="First" /> @Html.DisplayNameFor(model => model.First)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Secound" /> @Html.DisplayNameFor(model => model.Secound)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Third" /> @Html.DisplayNameFor(model => model.Third)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Fourth" /> @Html.DisplayNameFor(model => model.Fourth)
            </label>
        </div>
        <div>
            @Html.RadioButtonFor(model => model.First, "Firt")
            @Html.RadioButtonFor(model => model.First, "Secound")
            @Html.RadioButtonFor(model => model.First, "Third")
            @Html.RadioButtonFor(model => model.First, "Fourth")
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('text');
</script>